

body {
  color: #FFF;
  background-color: #000;
  font-family: 'Noto Sans TC', sans-serif; //改不動英文&數字
}
.navbar {
 .nav-link {
  font-size: 18px;
  line-height: 26px;
  color: #FFF;
  text-align: center;
 }
 &.active {
  background-color: $primary; // 改不動... ಥ_ಥ
 }
 
}
.footer {
  color: #909090;
  background-color: #1A1A1A;
  font-family: 'Azeret Mono', monospace;
  font-size: 0.75rem; // 12px
  @include pad {
    font-size: 1rem;
  }
}

.login-divider {
  height: 24px;
  color: #C1C1C1;
  position: relative;
&::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  border-bottom: 1px solid #C1C1C1;
}
  &::after {
    content: '其他登入方式';
    position: absolute;
    width: 128px;
    background-color: #2D2D2D;
    padding-left: 16px;
    padding-right: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }

}

#loginModal {
  .btn-close {
    top: 30px;
    right: 24px;
    width: 14px;
    height: 14px;
  }
  form {
    max-width: 330px;
    margin: 0 auto;
    padding: 40px 24px;
    @include pad {
      padding-top: 24px;
      padding-bottom: 48px;
    }
    a {
      border: 1px solid #FFF;
      &:hover {
        border-color: $primary
      }
      &:active {
        color: $primary;
      }
    }
  }
}